
.aclaracion{
    color: map-get($colores, oscuro);
    font-style: italic; font-weight: 200;
    font-size: 1rem;
}
.mockups {
    display: flex;
    margin-right: 16vh; gap: 10vh;
}
.ahorapuedoMockups{
display: flex;
    margin-right: 16vh; gap: 10vh;
}
.jetsmartMockup{
display: flex;
    margin-right: 16vh; gap: 10vh;
}
.mockupsDomus img{
    max-width: 50vh;
}
.textoYmockup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12vh; padding-top: 12vh;
}
.texto ul{
    list-style-type: none;
}

/*ESTILOS DE LA LISTA DESPLEGABLE HECHA CON BOOTSTRAP */
.accordion {
  --bs-accordion-color: #3A2C39;
  --bs-accordion-bg: #3A2C39; /* fondo del acordeón */
  --bs-accordion-border-color: #955AB1;
  --bs-accordion-active-color: #F2D9EE;
  --bs-accordion-active-bg:  #955AB1;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0;
  --bs-accordion-btn-icon: url("../assets/img/flechaAbajoAcordeon.svg");
   --bs-accordion-btn-active-icon: url("../assets/img/flechaAbajoAcordeon.svg");
}
.accordion-header{
    button{
        color: map-get($colores, rosa );
        font-size: 1.2rem;
    }   
}

.checksMockups{
    display: flex;
    align-items: center;
    gap: 3%;
}

.ulcheckmockups{
    list-style-type: none;
}

.video-responsive {
    width: 100%;
    height: auto;
    max-width: 80%;
    display: block;
    margin-right: auto; margin-left: auto;
}

.ulcheckmockups a{
  text-decoration: none;
}

.ulcheckmockups .btn-primary{
  width: 30%;
}

//FINAL DE CADA PROYECTO---------------------------------
.final{
    padding-top: 8vh; padding-bottom: 8vh;
    display: flex; justify-content: space-around;
    flex-wrap: wrap; row-gap: 5vh;
}
.btnFinal{
    width: 30%;
    min-width: 20vh;
}
.finalContenedor{
    margin-top: 15vh ;
}

//AHORA PUEDO----------------------------
.ahorapuedoMockups img{
    height: 40vh;
}
.videosAhoraPuedo{
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
}
.desktopVideo{
    width: 100%;
    height: auto;
    max-width: 50%;
    display: block;
    margin-right: auto; margin-left: auto;
}
.desktopCelu{
    width: 100%;
    height: auto;
    max-width: 20%;
    display: block;
    margin-right: auto; margin-left: auto;
}
.mockupCelAhoraPuedo{
    display: block;
}

//ALMA ---------------------------------------------------------
.mockup2Alma{
    display: block;
}

// DOMUS POSTEOS -----------------------------------------------
.linkDomus{
    color: map-get($colores, rosa );
}
.posteos{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center; align-items: center;
    row-gap: 10vh;
}
.post-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: 3vh; align-items: center;
}
.post-link img{
    width: 55vh;
}
.testimonio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5vh;
}
.testimonio img{
    max-width: 45vh;
}

//GELATINA ----------------------------------------------------
.videoGelatina{
    max-width: 35vh;
}
.mockupsGelatina{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10vh;
}
//MEDIA QUERIES--------------------------------
@media (max-width: 600px) {
    .textoYmockup {
        flex-wrap: wrap;
        align-items: start;
    }
    .mockups {
        padding-top: 5vh;
        gap: 2vh;
        margin: 0 auto;
    }
    .mockupCelAhoraPuedo{
        display: none;
    }
    .mockupDesktopAhoraPuedo{
        width: 50vh;
    }
    .desktopVideo{
    max-width: 90%;
}
.desktopCelu{
    max-width: 40%;
}
    .ahorapuedoMockups{
        margin: 0 auto;
    }
    .mockups img {
        height: 45vh;
    }
    .ulcheckmockups .btn-primary{
    width: 100%;
    }
    .btnFinal{
    width: 100%;
    min-width: 20vh;
    }
    .final{
        padding: 0 2vh 5vh 2vh;
    }
    .finalContenedor{
        margin-top: 10vh !important;
    }
    .checksMockups img{
        width: 10%; 
    }
    .checksMockups{
    gap: 8%;
    }
    .jetsmartMockup img{
        margin: 0 auto;
        width: 50vh;
    }
    .jetsmartMockup {
        margin: 0 auto;
    }

    .mockup2Alma{
        display: none;
    }
}